---
layout: default
---

<h1>Planets of the Universe</h1>

<p>This is a site about the Universe and its planets</p>

<h2>Types of Planets</h2>
		
		<ol>
			{% for planet in site.categories.planet-type  %}
			<li>
				<a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
				{{planet.content}}
				
			</li>
			{% endfor %}
		</ol>

<h2>Recently Discovered Planets&hellip;</h2>

<ul>
	{% for news in site.categories.recently-discovered %}
	<li>
		<a href="">{{news.title}}</a>
		<p>{{news.meta}}</p>
	</li>
	
	{% endfor %}
</ul>

